.portfolio__footer-icons_container div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border: 2px solid #adadb4;
    border-radius: 50%;
    color: #adadb4;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.portfolio__footer-icons_container > div:hover{
    border: 2px solid #461c1c;
    background-color: #461c1c;
    color: #fff;
    transform: translateY(-3px) scale(1.05) ;
}